<section>
  <fieldset>
    <legend>Create Book</legend>

    {{ bookForm.value | json }}

    <form (submit)='onSubmit($event, bookForm)' #bookForm='ngForm'>
      <div class="input-field">
        <label for="">title</label>
        <input type="text" name='title' [(ngModel)]='book.title' required>
      </div>
      <div class="input-field">
        <label for="">author</label>
        <input type="text" name='author' [(ngModel)]='book.author'>
      </div>
      <div class="input-field">
        <label for="">pages</label>
        <input type="number" name='pages' [(ngModel)]='book.pages'>
      </div>
      <div class="input-field">
        <label for="">year</label>
        <input type="number" name='year' [(ngModel)]='book.year'>
      </div>
      <div class="input-field">
        <label for="">publisher</label>
        <input type="text" name='publisher' [(ngModel)]='book.publisher'>
      </div>

      <button *ngIf='bookForm.valid' class="waves-effect waves-light btn-large deep-purple accent-1">Submit</button>
    </form>
  </fieldset>
</section>
