<div *ngIf='errors.length'>
  <ul class="alert alert-danger">
    <li *ngFor='let error of errors'>{{error}}</li>
  </ul>
</div>


<section class="row">
  <fieldset>
    <legend>Login</legend>
    <form (submit)='onSubmit(login.value)' #login='ngForm' class='form-group'>
      <div class="form-control">
        <label for="">Username</label>
        <input type="text" name='username' #name='ngModel' [(ngModel)]='user.username'>
      </div>
      <div class="form-control">
        <label for="">Password</label>
        <input type="password" name='password' #password='ngModel' [(ngModel)]='user.password' minlength='8'>
      </div>
      <button *ngIf='login.valid'>Login</button>
    </form>
  </fieldset>
</section>
